body{
    background: #1e1e1e url(img/bg.jpg) repeat-x center ;
    background-attachment: fixed;
}

.socialButton{
    width: 12%;
    height: 75%;
    border: 0px;
    background-color: var(--Color);
    color: white;
    font-size: 75%;
}
.poppins{
    font-family: 'Poppins', sans-serif;
}

.itemContainer{
    margin: 1%;
    background-color: #ffffff0e;
    width: 100%;
    height: 85%;
    border-radius: 3%;
    
}

.itemImage{
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    background-image: var(--Image);
    background-size: cover;
    background-position: center;
    height: 88%;
}

.itemTag{
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    width: 15%;
    height: 7.5%;
    background-image: url("img/Tag.png");
    background-size: cover;
    background-position: center;
    margin-left: 85%;
}

.topAnimeContainer{
    border-radius: 1%;
    background-color: #ffffff0e;
    width: 100%;
    height: 22%;
}

.topAnimeItemContainer{
    width: 100%;
    height: 14%;
    border-style: solid;
    border-color: #1e1e1e7b;
    border-width: 1px;
}

.topAnimeItemImage{
    height: 60%;
    width: 80%;
    margin: 20%;
    background-image: var(--Image);
    background-size: cover;
    background-position: center;
    border-radius: 10%;
}

.topAnimeText{
    text-align: left;
    color: white;
    font-size: 90%;
    width: 100%;
    line-height: 50%;
}

.titleText{
    font-size: 80%;
}

.onGoingContainer{
    height: 100%;
    width: 100%;
}

.ongoingImage{
    width: 90%;
    height: 90%;
    border-radius: 10%;
    background-image: var(--Image);
    background-size: cover;
    background-position: center;
}

.onGoingText{
    color: var(--Color);
    text-align: left;
    line-height: 10%;
    margin-top: 10%;
}

.onGoingSubBorder{
    height: 25%;
    width: 140%;
    margin-right: 5%;
    background-color: #ffffff0e;
    border-radius: 5%;
}

.bottomDiv {
height: 12vh;
width: 100%;
background-color: #1e1e1eb1;
border-bottom-left-radius: 50px;
border-bottom-RIGHT-radius: 50px;
}

.nav-text{
    color: #ffffffbd;
}

.nav-text:hover{
    color: #FEC345;
}